
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
  font-family: "Roboto";
  text-indent: 2em;
}

h1 {
	font-size: 800%;
	text-indent: 0.25em;
	font-family: "Oswald";
}

h2 {
	font-size: 300%;
	text-indent: 4em;
	font-family: "Roboto";
}

h3 {
	font-size: 250%;
	font-family: "Oswald";
}

h4 {
	font-size: 150%;
}

th, td {
  border-bottom: 1px solid #ddd;
}

input {
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.fit {
  max-width: 95%;
  max-height: 95%;
  text-indent:0;
}

.align-right {
	text-align: right;
}

.button {
  background-color: #000000; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto";
}


#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
